

.hr-home-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s ease;
  }
  
  .hr-home-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #007bff;
    margin-bottom: 10px;
  }
  
  p {
    color: #555;
    margin-bottom: 20px;
  }
  
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #218838;
  }
  