

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 8px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 15px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 20px;
}


